<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ site.title }}{%- if page.title -%}—{{ page.title }}{%- endif -%}</title>
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.0.11/css/fork-awesome.min.css" integrity="sha256-MGU/JUq/40CFrfxjXb5pZjpoZmxiP2KuICN5ElLFNd8=" crossorigin="anonymous">
  {%- feed_meta -%}
</head>
