<section id="post-list" class="column">
  <h1>{%- if page.title -%}{{ page.title }}{%- else -%}Posts{%- endif -%}:</h1>
  <ul>
  {%- for post in posts -%}
    <li id="{{ post.title }}"><article class="h-entry">
      <header>
      <h2 class="p-name">
        {{ post.title | escape }}
      </h2>
        {% include post-meta.html %}
      </header>
      <section class="p-summary">
        {{ post.excerpt | strip |>'}}
      </section>
      <footer class="meta"><a href="{{ post.url | absolute_url }}" class="u-url">read more…</a></footer>
    </article></li>
  {%- endfor -%}
  </ul>
</section>
