/*
$footer-colors: (
  'border': color( secondary, dark )
);*/
@import url("https://fonts.googleapis.com/css?family=Raleway:500,900");
@import url("https://fonts.googleapis.com/css?family=Proza+Libre");
body {
  background-color: #0d0c0c; }

.page {
  color: #e6b3b3;
  border-color: #cc6666; }
  .page a {
    color: #cc6666; }
    .page a:hover, .page a:focus {
      color: #a11212; }

.masthead {
  background-color: #0d0c0c;
  color: #e6b3b3; }
  .masthead a {
    color: #e6b3b3; }
    .masthead a:hover, .masthead a:focus {
      color: #ac3939; }

.navigation {
  background-color: #490404;
  color: #e6b3b3; }
  .navigation a {
    color: #e6b3b3; }
    .navigation a.active {
      color: #cc6666; }
    .navigation a:hover, .navigation a:focus {
      color: #cc6666; }

#post-list h2 a {
  color: #e6b3b3; }
  #post-list h2 a:hover, #post-list h2 a:focus {
    color: #ac3939; }
  #post-list h2 a.active {
    color: #ac3939; }

/*
footer.page {
  @include colors( $footer-colors... );
}*/
body, .page {
  margin: 0;
  overflow: auto; }

p {
  margin: 1.5rem 0; }
  p::after {
    content: '';
    display: table;
    clear: both; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: "Raleway", "sans-serif";
  font-weight: 900; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

body {
  font-size: 1.2em;
  font-family: "Proza Libre", "sans-serif"; }

p {
  line-height: 1.6; }

blockquote {
  font-size: 1.4rem; }
  blockquote p {
    line-height: 1.92; }

body {
  width: 100%;
  margin: auto; }
  @media only screen and (min-width: 90em) {
    body {
      max-width: 90rem; } }

.page {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%; }
  .page::after {
    content: '';
    display: table;
    clear: both; }

.column {
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /*  p:first-of-type {
    margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }*/ }
  @media screen and (min-width: 60em) {
    .column {
      width: 61%;
      float: left; } }
  .column h1, .column h2 {
    margin: 0; }
  .column .meta {
    padding: 0 1rem;
    margin: 0.75rem 0 !important;
    font-size: 0.85rem; }
    .column .meta span {
      display: block; }
    .column .meta .separator {
      display: none; }
    @media screen and (min-width: 40em) {
      .column .meta {
        text-align: right;
        padding: 0; }
        .column .meta span {
          display: inline; }
        .column .meta .separator {
          display: inline;
          padding: 0 .5rem;
          color: #a11212; } }

.masthead {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  margin: 0;
  text-align: left; }
  @media screen and (min-width: 40em) {
    .masthead {
      position: sticky;
      top: 0rem;
      left: 0rem; } }
  .masthead h1 {
    font-size: 2rem;
    margin: 1rem auto 1rem auto;
    padding-top: 2.2rem; }
    @media screen and (min-width: 40em) {
      .masthead h1 {
        padding-top: unset; } }
  .masthead p {
    font-family: "Raleway", "sans-serif";
    font-size: 1.5rem;
    margin: 0 auto 2rem auto; }

.navigation {
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: fixed;
  width: 100%;
  top: 0rem;
  left: 0rem; }
  .navigation::after {
    content: '';
    display: table;
    clear: both; }
  @media screen and (min-width: 40em) {
    .navigation {
      position: static; } }

.sitelinks {
  padding: 0;
  margin: 0;
  float: right;
  text-align: right; }
  .sitelinks li {
    display: none; }
    @media screen and (min-width: 40em) {
      .sitelinks li {
        padding: 0 1rem 0 0;
        display: inline-block; }
        .sitelinks li:last-child {
          padding: 0; } }
  .sitelinks label {
    display: block; }
    @media screen and (min-width: 40em) {
      .sitelinks label {
        display: none !important; } }
  .sitelinks input[type=checkbox] {
    display: none; }
  .sitelinks input[type=checkbox]:checked ~ li {
    display: block; }

.sociallinks {
  float: left;
  padding: 0;
  margin: 0; }
  .sociallinks li {
    padding: 0 1rem 0 0;
    display: inline-block; }
    .sociallinks li:last-child {
      padding: 0; }

.navicon {
  vertical-align: middle; }

#post-list {
  margin-top: 0; }
  #post-list h1 {
    padding-bottom: 1rem;
    margin-top: 2rem;
    /*     border-bottom: 2px solid; */ }
  #post-list ul {
    padding: 0; }
    #post-list ul li {
      display: block; }
    #post-list ul li + li:before {
      margin: 3rem auto; }

.read-more {
  margin: .75rem 0;
  padding-left: .75rem; }

#post-list:not(:first-child):before, #post-list ul li + li:before {
  display: block;
  content: "\f005\f005\f005";
  text-align: center;
  font: normal normal normal 1.5rem/1 ForkAwesome;
  letter-spacing: 2rem;
  margin-right: -2rem;
  color: #a11212; }

.verse {
  margin: 1.5rem 2rem; }

.verse span {
  margin: 0 0 0 -2rem; }

footer.page {
  text-align: center;
  font-size: small;
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: solid 3px;
  border-color: #490404; }
  footer.page p {
    margin: 0; }

img.inline {
  float: left;
  width: 100%;
  padding: 0 1.5rem 1rem 0; }
  @media screen and (min-width: 40em) {
    img.inline {
      width: 33%;
      float: left;
      padding: 0.75rem 1.5rem 0.25rem 0.5rem; } }
