@import url("https://fonts.googleapis.com/css?family=Raleway:500,900");
@import url("https://fonts.googleapis.com/css?family=Proza+Libre");
body, .page {
  margin: 0;
  overflow: auto; }

p {
  margin: 1.5rem 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: "Raleway", "sans-serif";
  font-weight: 900; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

body {
  font-size: 1.2em;
  font-family: "Proza Libre", "sans-serif"; }

p {
  line-height: 1.6; }

blockquote {
  font-size: 1.4rem; }
  blockquote p {
    line-height: 1.92; }

body {
  width: 100%;
  margin: auto; }
  @media only screen and (min-width: 90em) {
    body {
      max-width: 90rem; } }

.page {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%; }
  .page::after {
    content: '';
    display: table;
    clear: both; }

.column {
  box-sizing: border-box; }
  @media screen and (min-width: 60em) {
    .column {
      width: 61%;
      float: left; } }

.column article {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.masthead {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  margin: 0;
  text-align: left; }
  @media screen and (min-width: 40em) {
    .masthead {
      position: sticky;
      top: 0rem;
      left: 0rem; } }
  .masthead h1 {
    font-size: 2rem;
    margin: 1rem auto 1rem auto;
    padding-top: 2.2rem; }
    @media screen and (min-width: 40em) {
      .masthead h1 {
        padding-top: unset; } }
  .masthead p {
    font-family: "Raleway", "sans-serif";
    font-size: 1.5rem;
    margin: 0 auto 2rem auto; }

.navigation {
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: fixed;
  width: 100%;
  top: 0rem;
  left: 0rem; }
  .navigation::after {
    content: '';
    display: table;
    clear: both; }
  @media screen and (min-width: 40em) {
    .navigation {
      position: static; } }

.sitelinks {
  padding: 0;
  margin: 0;
  float: right;
  text-align: right; }
  .sitelinks li {
    display: none; }
    @media screen and (min-width: 40em) {
      .sitelinks li {
        padding: 0 1rem 0 0;
        display: inline-block; }
        .sitelinks li:last-child {
          padding: 0; } }
  .sitelinks label {
    display: block; }
    @media screen and (min-width: 40em) {
      .sitelinks label {
        display: none !important; } }
  .sitelinks input[type=checkbox] {
    display: none; }
  .sitelinks input[type=checkbox]:checked ~ li {
    display: block; }

.sociallinks {
  float: left;
  padding: 0;
  margin: 0; }
  .sociallinks li {
    padding: 0 1rem 0 0;
    display: inline-block; }
    .sociallinks li:last-child {
      padding: 0; }

.navicon {
  vertical-align: middle; }

.post-list li {
  display: block; }
  .post-list li p:first-of-type {
    margin-top: 0; }
  .post-list li p:nth-last-of-type(2) {
    margin-bottom: 0; }
.post-list .post-title {
  margin: 0; }
.post-list .post-link, .post-list .post-date {
  text-align: right;
  font-size: 0.85rem; }
.post-list li + li:before {
  display: block;
  content: "\f005\f005\f005";
  text-align: center;
  margin: 3rem auto;
  font: normal normal normal 1.5rem/1 ForkAwesome;
  letter-spacing: 2rem; }
.post-list .excerpt {
  margin: 0; }

.verse {
  margin: 1.5rem 2rem; }

.verse span {
  margin: 0 0 0 -2rem; }

footer.page {
  text-align: center;
  font-size: small;
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: solid 2px; }

body {
  background-color: #0d0c0c; }

.page {
  color: #e6b3b3; }
  .page a {
    color: #cc6666; }
    .page a:hover, .page a:focus {
      color: #a11212; }

.masthead {
  background-color: #0d0c0c;
  color: #e6b3b3; }
  .masthead a {
    color: #e6b3b3; }
    .masthead a:hover, .masthead a:focus {
      color: #ac3939; }

.navigation {
  background-color: #490404;
  color: #e6b3b3; }
  .navigation a {
    color: #e6b3b3; }
    .navigation a.active {
      color: #cc6666; }
    .navigation a:hover, .navigation a:focus {
      color: #cc6666; }

footer.page {
  border-color: #490404; }

.post-list li + li:before {
  color: #a11212; }
