body {
  @include page-width;
}

.page {
  @include bgfix;
  @include clearfix;
  @include page-horizontal-margins;
}

.column {
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  @media screen and (min-width: breakpoint('lg')) {
    width: 61%;
    float: left;
  }
    
  h1, h2 {
    margin: 0;
  }
  
  p:first-of-type {
  margin-top: 0;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  
  .meta {
    padding-left: 0.5rem;
    margin: 0.75rem 0.5rem !important;
    font-size: 0.85rem;
    
    span {
      display: block;
    }
    
    .separator {
      display: none;
    }
    
    @media screen and (min-width: breakpoint('md')) {
      text-align: right;
      padding: 0;
      margin: 0 0 1.5rem 0 !important;
      border: none;
      
      span {
        display: inline;
      }
      
      .separator {
        display: inline;
        padding: 0 .5rem;
      }
    }
    
    
  }  
}
